################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/__pycache__
/Analyzer/Reporting/__pycache__
/Analyzer/__pycache__
/__pycache__
/Analyzer/Rules/__pycache__
